In [1]:
import pandas as pd
import re

In [2]:
veti=pd.read_csv("ventas_tienda.csv")
veti.head(5)

,ID_Venta,Fecha,Categoria,Producto,Cantidad,Precio_Unitario,Tienda
0,1,2024-01-15,Deportes,Patines,3,1145,Tijuana
1,2,2024-03-23,Juguetes,Carro,3,380,MTY
2,3,2024-01-24,Juguetes,Lego,3,1735,Tijuana
3,4,2024-01-30,Ropa,Sudadera,2,435,Puebla
4,5,2024-03-16,Juguetes,Muñeca,2,71,Tijuana

In [3]:
veti["TotalVenta"]=veti["Cantidad"]*veti["Precio_Unitario"]
veti

,ID_Venta,Fecha,Categoria,Producto,Cantidad,Precio_Unitario,Tienda,TotalVenta
0,1,2024-01-15,Deportes,Patines,3,1145,Tijuana,3435
1,2,2024-03-23,Juguetes,Carro,3,380,MTY,1140
2,3,2024-01-24,Juguetes,Lego,3,1735,Tijuana,5205
3,4,2024-01-30,Ropa,Sudadera,2,435,Puebla,870
4,5,2024-03-16,Juguetes,Muñeca,2,71,Tijuana,142
...,...,...,...,...,...,...,...,...
95,96,2024-02-05,Electrónica,Smartwatch,2,1942,CDMX,3884
96,97,2024-02-05,Hogar,Lámpara,2,1058,Tijuana,2116
97,98,2024-02-24,Deportes,Balón,1,328,CDMX,328
98,99,2024-01-30,Hogar,Lámpara,1,1954,Puebla,1954
99,100,2024-02-28,Electrónica,Smartwatch,3,226,Puebla,678

In [4]:
total_por_cate = veti.groupby("Categoria")["TotalVenta"].sum()
total_por_cate

Categoria
Deportes       51153
Electrónica    39057
Hogar          54622
Juguetes       48445
Ropa           46742
Name: TotalVenta, dtype: int64

In [5]:
tienda_max_ventas = veti.groupby("Tienda")["Cantidad"].sum().idxmax()
print("Tienda con más ventas:", tienda_max_ventas)

Tienda con más ventas: CDMX

In [6]:
producto_max = veti.groupby("Producto")["Cantidad"].sum().idxmax()
print("Producto más vendido:", producto_max)

Producto más vendido: Audífonos

In [12]:
veti["Fecha"] = pd.to_datetime(veti["Fecha"])
ingresos_por_mes = veti.groupby("Fecha")["TotalVenta"].sum()
mes_max_ingreso = ingresos_por_mes.idxmax()
print("Mes con mayor ingreso:", mes_max_ingreso)

Mes con mayor ingreso: 2024-03-09 00:00:00

In [ ]:
with open("correos.txt", "r", encoding="utf-8") as archivo:
    correos = archivo.read()
    print(correos)

Juan Pérez - juanperez@gmail.com - +52 222 123 4567
María López - maria123@yahoo.com - +52 555 987 6543
Carlos Ramírez - carlos@trabajo.com.mx - +1 212 555 1234
Texto adicional sin información útil.
Pedro Gómez - pedro@empresa.org
email_invalido@sin_dominio
+44 20 7946 0958
Luis Torres - luistorres@empresa.co - +52 123 987 6540
Calle Falsa 123
contacto@dominio.com - +1 800 555 1234
Claudia García - claudia_garcia@correo.org - +34 123 456 789
1234 Avenida Principal
info@empresa.com
Texto sin formato adecuado.
Juanita Medina - juanita.medina@hotmail.com - +52 55 9876 5432
Juan Carlos - jcm@personal.org - +1 987 654 3210
Texto aleatorio que no sigue el formato.
rosario@dominio.co.uk - +49 30 123456
diana@gmail..com
Texto@invalido - +33 1 42 68 53 00
contacto@soporte.es - +34 654 321 987
francisco@mail.co - +54 11 4321 8765
Usuario sin información útil.
mariana.123@dominio.cl - +56 9 1234 5678
...

In [ ]:
patron_c=r"\w@\w\.\w"
coincidencias_c=re.findall(patron_c,correos)
print("Correos válidos:",coincidencias_c)
patron_n=r"\+\d{2} \d{3} \d{3} \d{4}"
coincidencias_n=re.findall(patron_n,correos)
print("Números válidos:",coincidencias_n)

Correos válidos: []
Números válidos: ['+52 222 123 4567', '+52 555 987 6543', '+52 123 987 6540']

In [ ]:
total_c=len(coincidencias_c)
print("Total de correos válidos:", total_c)
total_n=len(coincidencias_n)
print("Total de números válidos:", total_n)

Total de correos válidos: 0
Total de números válidos: 3