In [7]:
import pandas as pd

In [8]:
df1 = pd.DataFrame({
    "key": ["A","B","C","D"],
    "values1":[1,2,3,4],
    "Values2":[9,10,11,12],
    "values3":[13,14,15,16]
})
df1.set_index("key",inplace=True)

In [11]:
df2 = pd.DataFrame({
    "key": ["A","B","C","D"],
    "values4":[5,6,7,8],
    "Values5":[20,21,22,23],
    "values6":[24,25,26,27]
})
df2.set_index("key",inplace=True)

In [12]:
joined=df1.join(df2,how="inner")
joined

     values1  Values2  values3  values4  Values5  values6
key
A          1        9       13        5       20       24
B          2       10       14        6       21       25
C          3       11       15        7       22       26
D          4       12       16        8       23       27

In [13]:
df2 = pd.DataFrame({
    "key": ["A","B","C","D"],
    "values1":[5,6,7,8],
    "Values5":[20,21,22,23],
    "values6":[24,25,26,27]
})
df2.set_index("key",inplace=True)

In [14]:
joined=df1.join(df2,lsuffix="_df1",rsuffix="_df2")
joined

     values1_df1  Values2  values3  values1_df2  Values5  values6
key
A              1        9       13            5       20       24
B              2       10       14            6       21       25
C              3       11       15            7       22       26
D              4       12       16            8       23       27