In [13]:
import pandas as pd

In [ ]:
Brawl={
"Brawler": ["Hank", "Berry", "Jessie", "Maisie", "Cordelius", "Amber"],
"Llegada": [2022, 2022, 2017, 2022, 2022, 2020],
"País": ["Nicaragua", "Portugal", "Australia", "China", "Alemania", "México"],
"Estrellas": [5, 4, 2, 3, 4, 3],
"Rol": ["Tanque", "Apoyo", "Daño", "TiroLargo", "Asesino", "Control"]
}

Brawl = pd.DataFrame(Brawl)
print("Crear DataFrame: \n",Brawl)

Cread DataFrame:
      Brawler  Llegada       País  Estrellas        Rol
0       Hank     2022  Nicaragua          5     Tanque
1      Berry     2022   Portugal          4      Apoyo
2     Jessie     2017  Australia          2       Daño
3     Maisie     2022      China          3  TiroLargo
4  Cordelius     2022   Alemania          4    Asesino
5      Amber     2020     México          3    Control

In [15]:
result = Brawl[["Llegada","Estrellas"]].agg("sum")
result

Llegada      12125
Estrellas       21
dtype: int64

In [16]:
sumary_stats=Brawl["Llegada"].agg(["sum","mean","median","max","min"])
sumary_stats

sum       12125.000000
mean       2020.833333
median     2022.000000
max        2022.000000
min        2017.000000
Name: Llegada, dtype: float64

In [17]:
def calculate_range(x):
    return x.max() - x.min()

In [18]:
range_quantity = Brawl["Estrellas"].agg(calculate_range)
range_quantity

np.int64(3)

In [19]:
agg_results=Brawl.agg({"Estrellas": "sum", "Llegada": "mean"})
agg_results

Estrellas      21.000000
Llegada      2020.833333
dtype: float64

In [22]:
result=Brawl.groupby(["Brawler"]).sum()
result

           Llegada       País  Estrellas        Rol
Brawler
Amber         2020     México          3    Control
Berry         2022   Portugal          4      Apoyo
Cordelius     2022   Alemania          4    Asesino
Hank          2022  Nicaragua          5     Tanque
Jessie        2017  Australia          2       Daño
Maisie        2022      China          3  TiroLargo

In [23]:
result=Brawl.groupby(["Brawler"])[["Llegada","Estrellas"]].agg(["min","max"])
result

          Llegada       Estrellas
              min   max       min max
Brawler
Amber        2020  2020         3   3
Berry        2022  2022         4   4
Cordelius    2022  2022         4   4
Hank         2022  2022         5   5
Jessie       2017  2017         2   2
Maisie       2022  2022         3   3